body {
  font-family: "SF Pro Text";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
}

.view {
  margin: auto;
  width: calc(100% - 100px);
}

.wrapper {
  position: relative;
  overflow: auto;
  white-space: nowrap;
}

table {
  border-collapse: collapse;
}

th {
  cursor: pointer;
}

th:first-child,
td:first-child {
  position: -webkit-sticky;
  position: sticky;
  background-color: white;
  left: 0px;
  z-index: 2;
}

.header {
  position: relative;
  display: flex;
}

thead {
  border-top: 1px solid rgba(145, 177, 205, 0.3);
  border-bottom: 1px solid rgba(145, 177, 205, 0.3);
}

tr {
  border-bottom: 1px solid rgba(145, 177, 205, 0.3);
}

.group-row {
  height: 72px;
}

.top-row {
  height: 72px;
}

.top-row .title {
  padding-left: 5px;
}

.child-row {
  height: 64px;
}

.child-row .title {
  padding-left: 20px;
}

.resizable {
  background: #eef3f8;
}

.resizer {
  width: 3px;
  height: 100%;
  background: #ccd7e0;
  cursor: col-resize;
  position: absolute;
  right: 0px;
  top: 0px;
}

.title {
  width: 400px;
  min-width: 400px;
  max-width: 650px;
  box-sizing: border-box;
}

.type {
  min-width: 200px;
  width: 200px;
  max-width: 400px;
}

.owner {
  min-width: 300px;
  width: 300px;
  max-width: 500px;
}

.timePeriod {
  min-width: 300px;
  width: 300px;
  max-width: 500px;
}

.progress {
  min-width: 400px;
  width: 400px;
  max-width: 600px;
}

.score {
  min-width: 100px;
  width: 100px;
  max-width: 300px;
}

.flex {
  display: flex;
}

.m-b-10 {
  margin-bottom: 10px;
}

.m-l-10 {
  margin-left: 10px;
}

.pointer {
  cursor: pointer;
}

.pointer:hover {
  text-decoration: underline;
}
